<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashish.alumini">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".Application.MainApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.PreLogin.ActivitySplashScreen"
            android:label="Alumni">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".onSearch" />

        <activity
            android:name=".About_app"
            android:label="About App" />
        <activity
            android:name=".Contact_us"
            android:label="Contact Us" />
        <activity
            android:name=".Faq"
            android:label="FAQs" />
        <activity
            android:name=".Job.jobProfile"
            android:label="Company Profile" />
        <activity
            android:name=".Fragments.FragmentPostJob"
            android:label="Post A Job" />
        <activity android:name=".activities.PreLogin.Login"></activity>
        <activity android:name=".activities.PreLogin.SignUp"></activity>
        <activity android:name=".activities.PostLogin.MainScreen"></activity>
        <activity
            android:name=".deepak.events.EventPage"
            android:label="Events"></activity>
        <activity
            android:name=".deepak.about_college.About_college"
            android:label="ACEIT"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".deepak.events.Technica"
            android:label="Technica Naitus"></activity>
        <activity
            android:name=".deepak.events.Shrandhan"
            android:label="Shrandhanjali"></activity>
        <activity
            android:name=".deepak.events.AryaRatan"
            android:label="Arya Ratan"></activity>
        <activity
            android:name=".deepak.events.Eupo"
            android:label="Euphonious"></activity>
        <activity
            android:name=".deepak.events.AryaCup"
            android:label="Arya Cup"></activity>
        <activity
            android:name=".deepak.events.Victory"
            android:label="Victory"></activity>
        <activity
            android:name=".deepak.events.Exergie"
            android:label="Exergie"></activity>
        <activity
            android:name=".deepak.events.Social"
            android:label="Social Event"></activity>
        <activity
            android:name=".deepak.events.TopGun"
            android:label="TopGun"></activity>
        <activity
            android:name=".deepak.events.Auto"
            android:label="Auto"></activity>
        <activity
            android:name=".deepak.events.Zephr"
            android:label="Zephr"></activity>
        <activity
            android:name=".deepak.events.Engineer"
            android:label="Engineer Day"></activity>
        <activity
            android:name=".deepak.events.Confernce"
            android:label="International Conference"></activity>
        <activity
            android:name=".deepak.events.sanghosti"
            android:label="Sanghosti"></activity>
        <activity
            android:name=".deepak.events.microsoft"
            android:label="Microsoft Innovation Center"></activity>

        <activity android:name=".activities.PostLogin.ActivityMember"></activity>
    </application>

</manifest>